<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>멜론 차트 Top 50</title>
    <style>
        td, th {padding: 2px; text-align: center;}
    </style>
</head>
<body style="margin: 40px;">
    <h3>멜론 차트 Top 50
    <button onclick="location.href='/interpark'">인터파크 베스트셀러 보러가기</button>
    <button onclick="location.href='/siksin'">영등포역 맛집 보러가기</button>
    <button onclick="location.href='/'">돌아가기</button>
    </h3>
    <hr>
    <table border="1">
        <tr>
            <th>순위</th>
            <th>이미지</th>
            <th>제목</th>
            <th>아티스트</th>
            <th>앨범</th>
        </tr>
        <!--{'순위':rank, '제목':title, '아티스트':artist, '앨범':album, '이미지':img} -->
        {% for song in song_list %}
            <tr>
                <td>{{song.순위}}</td>
                <td><img src="{{song.이미지}}" height="32"></td>
                <td><a href="{{song.href}}" target="_blank">{{song.제목}}</a></td>
                <td><a href="https://www.melon.com/artist/timeline.htm?artistId={{song.가수정보}}" target="_blank">{{song.아티스트}}</a></td>
                <td>{{song.앨범}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>