<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scatter</title>
</head>
<body style="margin: 40px;">
    <h2>산점도 그리기</h2>
    <hr>
    <form action="/scatter/a" method="post">
        갯수 : <input type="text" name="count""><br><br>
        최소 : <input type="text" name="min"><br><br>
        최대 : <input type="text" name="max"><br><br>
        평균 : <input type="text" name="mean"><br><br>
        표준 : <input type="text" name="std"><br><br>
        <input type="submit" value="제출">
    </form>
</body>
</html>